body {
	background-color: #E5E5E5;
	padding: 46px 48px;
	font-family: sans-serif;
	h1 {
		font-weight: 400;
		padding: 0;
		margin: 0;
	}
	.buttons {
		margin-top: 16px;
	}
	button {
		padding: 12px 16px;
		margin-right: 8px;
		border: 2px solid transparent;
		border-radius: 8px;
		box-sizing: border-box;
		background-color: white;
		vertical-align: middle;
		font-size: 16px;
		&:hover {
			border: 2px solid #777777;
		}
		&.selected {
			background-color: #D3A9FF;
		}
	}
	.material-icons {
		font-size: 16px;
		margin-right: 4px;
		position: relative;
		top: 2px;
	}
}
