body {
	background-color: #E5E5E5;
	padding: 46px 48px;
	font-family: sans-serif;
	h1 {
		font-weight: 400;
		padding: 0;
		margin-top: 0;
	}
	button {
		height: 43px;
		padding: 0 20px;
		margin-right: 16px;
		border: 2px solid transparent;
		border-radius: 8px;
		background-color: white;
		&:hover {
			border: 2px solid #999999;
		}
		&.selected {
			background-color: #D3A9FF;
		}
	}
}
