:root {
	color-scheme: light dark;

	--light-bg: #E5E5E5;
	--light-panel: white;
	--light-bg-grey: #F2F2F2;
	--light-accent: #D3A9FF;
	--light-border: #CCCCCC;
	--light-border-focus: #999999;
	--light-muted: #666666;

	--dark-bg: black;
	--dark-panel: #1A1A1A;
	--dark-bg-grey: #0D0D0D;
	--dark-accent: #490098;
	--dark-border: #333333;
	--dark-border-focus: #666666;
	--dark-muted: #999999;
}

body {
	font-family: sans-serif;

	h1 {
		font-weight: 400;
		padding: 0;
		margin: 0;
	}

}
